.content {
    margin-left: 180px; 
    padding: 30px;
    width: calc(100% - 180px);
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); 
}

.sidebar.collapsed ~ .registration-form-area {
    margin-left: 40px;
    width: calc(100% - 40px);
}

.registration-form {
            background-color: white;
            padding: 30px 40px;
            border-radius: 20px;
            box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
            width: 100%;
            max-width: 450px;
            
        }

        .registration-form input {
            width: 100%;
            padding: 12px 15px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 16px;
        }

        .registration-form button {
            width: 100%;
            padding: 12px;
            background-color: #59e3e3;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            cursor: pointer;
            color: white;
            margin-top: 15px;
        }

        .registration-form button:hover {
            background-color: #45c5c5;
        }