.main-layout {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #3bb9ff;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 40px;
    background-color: white;
    text-align: center;
}

.announcement-title {
    background-color: #59e3e3;
    border-radius: 40px;
    padding: 15px 30px;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 40px;
}

.announcement-body {
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    width: auto;
    border: 1px solid #59e3e3; 
    border-radius: 8px;        
    background-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.09);
}
