.content {
    margin-left: 180px; 
    padding: 20px;
    width: calc(100% - 180px);
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: calc(100vh - 60px); 
}

.application-container {
    background-color: #34b4f1;
    border-radius: 30px;
    width: 100%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.application-title {
    background-color: #59e3e3;
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.application-status {
    background-color: #59e3e3;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

h3 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

.filled-form-body {
    background-color: #59e3e3;
    padding: 80px 40px;
    border-radius: 30px;
    flex: 1;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.bottom-bar {
    display: flex;
    justify-content: flex-end;
}

.update-button {
    background-color: #59e3e3;
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
